.box {
  height: 60px;
  padding: 20px;
}

.header {
  background: orange;
}

.first {
  background: red;
  text-align: left;
}
.second {
  background: lightblue;
}
.third {
  background: red;
  text-align: right;
}


@media (max-width: 992px) and (min-width: 768px) {
  .header {
    background: blue;
  }

  .first {
    text-align: left;
  }

  .second {
    background: red;
    text-align: right;
  }

  .third {
    background: green;
    text-align: center;
  }

}


@media (min-width: 993px) {
  .header {
    background: green;
  }

  .box {
    text-align: center;
  }

  .second {
    background: red;
  }

  .footer-1 {
    text-align: right;
  }
  .footer-2 {
    text-align: left;
  }
}
