.box {
  margin-top: 5px;
  color: white;
  text-align: center;
}
.green {
  min-height: 30px;
  background: green;
}
.red {
  height: 230px;
  background: red;
}
.blue {
  min-height: 50px;
  background: blue;
}
.light-blue {
  background: lightblue;
  min-height: 50px;
}
.orange {
  min-height: 70px;
  background: orange;
}
.grey {
  min-height: 50px;
  background: grey;
}
.pink {
  min-height: 30px;
  background: pink;
}
.yellow {
  min-height: 30px;
  background: yellow;
  color: black;
}
